<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{vg.name}}</title>
	<style type="text/css">
		#title{ text-align: center;
		}
		#leftside { float:left;
					width:75%;
					height:280px;
		}
		#rightside{ float:left;
					width:25%;
					height:280px;
		}
	</style>
	
</head>
<body>
	<h1 id = "title">{{vg.name}}</h1>
	<div id = "leftside">
	<h2>A game by {{vg.developer}} - Genre: {{vg.genre}}</h2>
	<p>{{vg.description}}</p>
	
	<form action="sent_comment/{{vg.id}}" method="post">
		<textarea name='body' rows=5 cols=40>Write your comment here...</textarea>
		<input type='submit' value='Enviar'/>
	</form>
	
	{{#vg.comments}}
	<h4>Por {{author}} a las {{pubDate}}</h4>
	<p>{{body}}</p>
	{{/vg.comments}}
	
	<p><a href={{previousPage}}>«</a><a href={{nextPage}}>»</a><p>
	</div>
	<div id = "rightside">
		<table>
			<table>
                <ul>
                {{#vg.mods}}
                  <li><a href="/mods/{{id}}?page=0">{{name}}</a> - {{genre}}</li>
                {{/vg.mods}}
                </ul>
              </table> 
		</table>
	</div>

</body>
</html>