<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Games</title>
	<link rel="stylesheet" type="text/css" href="/styles.css" />
</head>
<body>	
	{{>header}}
	<h1 class="title">All Games</h1>
	<hr>
	<div>
		{{#games}}
			<div class="list_elem"><a href="/games/{{id}}?pageComments=0&pageMods=0">{{name}} by {{developer}}</a></div>
		{{/games}}
	</div>
	<p>
		{{#firstPage}}
		<a href={{previousPage}}>«Newer </a>
		{{/firstPage}}
		{{#lastPage}}
		<a href={{nextPage}}> Older»</a>
		{{/lastPage}}
	<p>
</body>
</html>