<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{vg.name}}</title>
	<style type="text/css">
		#title{ text-align: center;
		}
		#leftside { float:left;
					width:75%;
					height:280px;
		}
		#rightside{ float:left;
					width:25%;
					height:280px;
		}
		#pageComments { float:left;
						width:75%;
						text-align: center;
		}
		#pageMods { float:left;
						width:25%;
						text-align: center;
		}
	</style>
	
</head>
<body>
	<h1 id = "title">{{vg.name}}</h1>
	<div id = "leftside">
	<h2>A game by {{vg.developer}} - Genre: {{vg.genre}}</h2>
	<p>{{vg.description}}</p>
	{{#isLogged}}
	<form action="sent_comment/{{vg.id}}" method="post">
		<textarea name='body' rows=5 cols=40 placeholder="Write your comment here..."></textarea>
		<input type='submit' value='Enviar'/>
	</form>
	{{/isLogged}}
	{{#comments}}
	<h4>Por {{author}} a las {{pubDate}}</h4>
	<p>{{body}}</p>
	{{/comments}}
	
	<p id = "pageComments">
		{{#first_comment_page}}
		<a href={{previousPageComments}}>«Newer </a>
		{{/first_comment_page}}
		{{#last_comment_page}}
		<a href={{nextPageComments}}> Older»</a>
		{{/last_comment_page}}
	<p>
	</div>
	<div id = "rightside">
		<table>
			<table>
                <ul>
                {{#mods}}
                  <li><a href="/mods/{{id}}?page=0">{{name}}</a> - {{genre}}</li>
                {{/mods}}
                </ul>
              </table> 
		</table>
		<p id = "pageMods">
		{{#first_mods_page}}
		<a href={{previousPageMods}}>«Newer </a>
		{{/first_mods_page}}
		{{#last_mods_page}}
		<a href={{nextPageMods}}> Older»</a>
		{{/last_mods_page}}
		<p>
	</div>

</body>
</html>