<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<nav class="head">
		<div class="space_top">
			<h2 class="top_bar">Game Square</h2>
			<a class="top_bar" style="margin-left: 5%" href = "/">Feed</a>
			
			<div style="margin-left: 45%; display:inline">
			<form class="searchbox" action="/search">			
				<input type="text" placeholder="Search..." name="name" maxlength="15">
				<input type="hidden" name="game_page" value="0" />
				<input type="hidden" name="mod_page" value="0" />
				<button type="submit" class="forms">Submit</button>
				<input type="hidden" name="_csrf" value="{{token}}"/>
			</form>
			<a class="top_bar" href = {{user_mapping}}>{{username}}</a>
			<a class="top_bar" href = "{{rl_link}}">{{rl}}</a>	
			</div>
		</div>
	</nav><br>
</body>
</html>