<!DOCTYPE html>
<html>

<head>
  <title>Game Square</title>
  <link rel="stylesheet" type="text/css" href="/styles.css" />  
</head>

<body>
	{{> header}}
		
	<h1>Latest Games</h1>
	<a class="button" href="/all_games?page=0">View All</a><br>
	<hr>
	
	<table>
		<tbody>
			<tr>
			{{#games}}
				<td><a href="/games/{{id}}?page=0">{{name}}</a></td>
			{{/games}}
			</tr>
		</tbody>
	</table><br>
	
	<h1>Latest Mods </h1>
	<a class="button" href="/all_mods?page=0">View All</a><br>
	<hr>
	
		<table>
		<tbody>
			<tr>
			{{#mods}}
				<td><a href="/mods/{{id}}?page=0">{{name}} for {{videogame.name}}</a></td>
			{{/mods}}
			</tr>
		</tbody>
	</table>
	
</body>
</html>