<!DOCTYPE html>
<html>
<head>
		<meta charset="UTF-8">
		<title>Mods</title>
		<link rel="stylesheet" type="text/css" href="/styles.css" />  
</head>
<body>	
	{{>header}}
	<form action="/">
		<table>
		<tbody>
			<tr>
			{{#mods}}
				<td><a href="/mods/{{id}}?page=0">{{name}}</a></td>
			{{/mods}}
			</tr>
		</tbody>
	</table><br>
	</form>
	<p>
		{{#firstPage}}
		<a href={{previousPage}}>«Newer </a>
		{{/firstPage}}
		{{#lastPage}}
		<a href={{nextPage}}> Older»</a>
		{{/lastPage}}
	<p>
</body>
</html>