<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{mod.name}}</title>
<style>
	#page{text-align:center}
</style>
</head>
<body>
	
	<h1>{{mod.name}}</h1>
	<h2>A mod by {{mod.developer}} for the game {{mod.videogame.name}}</h2>
	<p>{{mod.description}}</p>
	{{#isLogged}}
	<form action="sent_comment/{{mod.id}}" method="post">
		<textarea name='body' rows=5 cols=40 template="Write your comment here..."></textarea>
		<input type='submit' value='Enviar'/>
	</form>
	{{/isLogged}}
	{{#comments}}
	<h4>Por {{author}} a las {{pubDate}}</h4>
	<p>{{body}}</p>
	{{/comments}}
	
	<p id="page">
		{{#first_comment_page}}<a href={{previousPage}}>«Newer </a>{{/first_comment_page}}
		{{#last_comment_page}}<a href={{nextPage}}> Older»</a>{{/last_comment_page}}
	<p>
	

</body>
</html>