<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{user.userName}}'s profile</title>
	<link rel="stylesheet" type="text/css" href="/styles.css" />
</head>
<body>
{{>header}}
<h1 class="title">Profile</h1>
<hr>
<nav class="profile">
	<p>
	<div class="list_elem"> Username: {{user.userName}}</div><br>
	<div class="list_elem"> Email: {{user.email}}</div><br>
	<div class="list_elem"> No. of comments: {{total_comments}}</div><br>
	<div class="list_elem"> Register date: {{user.regDate}}</div></p>
	<div>
	<a class="button" href="/profile/modify" style="float:right">Modify profile</a>
	</div>
</nav>
<div>
<p><h1 class="title">Published games:</h1>
<hr>
{{#games}}
<a href="/games/{{id}}">{{name}} </a>
{{/games}}
<br><a class="button" href="/publish/game" style="float:right">Publish a new game</a>
</div>
<br><br>
<p><h1 class="title">Published mods:</h1>
<hr>
{{#mods}}
<a href="/mods/{{id}}">{{name}} </a>
{{/mods}}
</div>
<br><a class="button" href="/publish/mod" style="float:right">Publish a new mod</a>
</body>
</html>