<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{user.userName}}'s profile</title>
	<link rel="stylesheet" type="text/css" href="/styles.css" />
</head>
<body>
{{>header}}
<div>
	<a class="button" href="/profile/modify">Modify profile</a>
</div>
<div>
	<p>Username: {{user.userName}}<br>
	Email: {{user.email}}<br>
	No. of comments: {{total_comments}}<br>
	Register date: {{user.regDate}}</p>
</div>
<div>
<p><h1>Published games:</h1>
<hr>
{{#games}}
<a href="/games/{{id}}?pageComments=0&pageMods=0">{{name}}, </a>
{{/games}}
<br><a class="button" href="/publish/game" style="float:right">Publish a new game</a>
</div>
<br><br>
<p><h1>Published mods:</h1>
<hr>
{{#mods}}
<a href="/mods/{{id}}?page=0">{{name}}, </a>
{{/mods}}
</div>
<br><a class="button" href="/publish/mod" style="float:right">Publish a new mod</a>
</body>
</html>