<!DOCTYPE html>
<html>


<head>
	<title>Game Square</title>
	<link rel="stylesheet" type="text/css" href="/styles.css" />
</head>

<body>
<div class="container">
<form action={{link}} method="post">
	<fieldset>
	<legend>{{action}}</legend>
	Username: <br>
	  <input type="text" name="username" maxlength="15" required="required"><br>
	  Password: <br>
	  <input type="password" name="password" maxlength="20" required="required"><br>
	  <input type="submit" class="forms" value={{action}}><br>
	  <input type="hidden" name='_csrf' value={{token}}/>
	</fieldset>
</form>
</div>

</body>
</html>